<h2>Dictators</h2>
<!--<form (submit)="SummitDic()">-->
<!--  <input>-->
<input [(ngModel)]="fName" placeholder="Firstname"/>
<input [(ngModel)]="lName" placeholder="Lastname"/>
<input [(ngModel)]="yBorn" placeholder="Born"/>
<input [(ngModel)]="yDeceased" placeholder="Deceased"/>
<input [(ngModel)]="desciption" placeholder="Description"/>
<button (click)="submitDic(fName, lName,yBorn,yDeceased,desciption)">get that dic</button>

<!--</form>-->
<div class="Card-container">
  <ul class="dictators">
    <li *ngFor=" let Dictator of dicList"
        [class.selected]="Dictator === selectedDic"
        (click)="onSelect(Dictator)">
      <div id="firstName">
           Name: {{Dictator.firstName}}
          </div>
          <div id="lastName">
            Lastname: {{Dictator.lastName}}
          </div>
          <div id="born">
            Born:
            <span class="badge">{{Dictator.born}}</span>
          </div>
          <div id="deceased">
            Deceased:
            <span class="badge">{{Dictator.deceased}}</span>
          </div>

    </li>
  </ul>
  <button (click)="deleteDic()">Delete latest dic</button>
</div>
